*{
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: rgb(248, 234, 207);
    /* position: fixed; */
    display: flex;
    overflow: hidden;
    height: 45px;
    width: 100%;
  }
  
  .navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 7px 18px;
    margin: 5px 7px 5px 10px;
    float: left;
    font-size: 21px;
  }
  
  
  .navbar a:hover {
    color: black;
    border-radius: 13px;
    background-image: linear-gradient(
      68.2deg,
      rgba(255, 202, 88, 1) 0%,
      rgba(139, 73, 255, 1) 100.2%
    );
  }

  .main{
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: rgb(231, 236, 213);
  }

  .content{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content .box-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px;
    height: 300px;
  }

  .content .box-left h1{
    font-size: 34px;
    margin: 5px 0px;
  }
  
  .content .box-left h3{
    font-size: 15px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .content .box-left button{
    font-size: 23px;
    margin: 15px;
    padding: 3px 30px;
    border-radius: 15px; 
    font-family: "GothamRounded-Medium";
    box-shadow: 0px 12px 25px 0px rgb(0 199 157 / 35%);
    transition: 0.2s linear;
    border: none;
    cursor: pointer;
  }

  .content .box-right{
    width: 100%;
    /* height: 300px; */
  }

  .content .box-right img{
    height: 500px; 
    width: 81%;
    margin-left: 20px;
  }

  .content .social-media .icon{
    display: flex;
    flex-direction: row;
  }

  .content .social-media .icon .cover{
    margin: 7px 10px;
    padding: 4px 4px;
    font-size: 25px;
  }